{% form_theme form 'RemgLayoutBundle:admin:form/filter_form_div_layout.html.twig' %}

{# Start accordion #}
<div class="accordion" id="advanced-search-container">
    {# Start panel #}
    <div class="panel">
        {# Start panel title #}
        <a id="advanced-search-link" data-parent="#advanced-search-container" href="#advanced-search" class="panel-heading collapsed" data-toggle="collapse" >
            <h4 class="panel-title">
                <i class="fa fa-search"></i> {{ 'advanced_search'|trans({}, 'admin') }}
                <i class="fa fa-chevron-down pull-right"></i>
            </h4>
        </a>
        {# End panel title #}

        {# Start panel content #}
        <div id="advanced-search" class="panel-collapse collapse{% if filter_form.vars.submitted %} in{% endif %}">
            <div class="panel-body">

                {% embed 'RemgLayoutBundle:admin:widget/form.html.twig' with {'form': form} %}
                    {% block buttons %}
                        <button type="submit" class="btn btn-info">
                            <i class="fa fa-filter"></i> {{ 'filter'|trans({}, 'admin') }}
                        </button>
                    {% endblock %}
                {% endembed %}

            </div>
        </div>
        {# End panel content #}
    </div>
    {# End panel #}
</div>
{# End accordion #}