<div class="x_panel">
	{% block panel_title %}
    <div class="x_title">
        {% block title %}{% endblock %}
        <div class="clearfix"></div>
    </div>
	{% endblock panel_title %}

    <div class="x_content">
    	{% block content %}{% endblock %}
    </div>
</div>